.row
  .span12
    %h1= page.name
- if current_user
  .row
    .span12
      %p
        = link_to "Edit", edit_slug_path(page.slug), class: "btn btn-mini"
        |
        = link_to "Delete", page, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-mini"
.row
  .span12
    %article
      :markdown
        #{page.body}
