.row.main-content
  .offset2.span8.zone-content
    %article{ class: "blog-post" }
      .published
        = post.created_at
      %h1= post.title
      %div
        :markdown
          #{post.body}

