%aside.aside-column.offset1.span3#aside-right
  %article.widget-tag-cloud.widget
    %header
      %h1 Tag Cloud
      %ul.tagcloud
        - tag_cloud(Post.tag_cloud(posts), %w{tagCloud-1 tagCloud-2 tagCloud-3 tagCloud-4 tagCloud-5}) do |name, css_class|
          %li{ class: "tagCloud-tag #{css_class}" }
            = link_to name, posts_path(tags: name)
